/*
Gray: #B2B2B1
Very Dark Gray: #1C1C1C
*/

body {
    background-color: none;
    font-family: "Quicksand", "sans-serif";
}

.container-fluid {
    padding-right: 250px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}

/*
.row {
    margin: 0;
}
*/

#header {
    text-align: right;
    margin: 0 auto;
    border-bottom-style: solid;
    border-color: gray;
    height: 140px;
}

#logo {
    max-width: 150px;
    max-height: 150px;
    transform: translateY(-1%);
}

h4 {
        margin: 0;
    transform: translateY(-530%);
}

h1 {
       margin: 0;
    transform: translateY(-275%); 
}

.large-image {
  margin-top: 11px; 
    padding: 0;
}

.main-image {
    height: 550px;
}
.featured-work-wrapper > div {
    
    padding: 0;
    
}
.featured-work-wrapper > div > img {
    
    padding: 0;
    
}
/*
.lesson-4-skills > img {
    width: 230px;
    height: 130px;
}

.lesson-5-skills > img {
    width: 230px;
    height: 130px;
}

.lesson-6-skills > img {
    width: 230px;
    height: 130px;
}
*/

